.global {
  padding: 1px 20vh;
}

.container {
  background-color: #ffffff;
}

.card {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  box-shadow: lightgray 4px 4px 20px;
  gap: 2vh;
}

.image {
  width: 150px;
  height: 150px;
}

.image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.detailCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
}

.detailTitleDescription {
  flex: 0 0 60%;
  margin-right: 20px;
}

.title {
  color: rgb(50, 50, 50);
}

.description {
  color: rgb(98, 98, 98);
  font-size: 1rem;
}

.price {
  color: #2757b6;
}

.detailPriceButton {
  display: flex;
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.addPanier {
  margin-left: 2vh;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #45a049;
  color: #f0f0f0;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Pour les petits écrans comme les téléphones */
@media (max-width: 767px) {
  .global {
    padding: 0px;
  }

  .detailCard {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    flex-direction: row;
    padding: 0;
    padding-right: 5px;
  }

  .card {
    box-shadow: none;
    border-top: 1px solid lightgray;
  }

  .addPanier {
    font-size: 12px;
    height: 43px;
    display: flex;
    align-items: center;
  }

  .detailPriceButton {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .title {
    font-size: 1em;
  }

  .description {
    display: none;
  }

  .price {
    font-size: 0.9em;
  }
}

/* Pour les tablettes et écrans moyens */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles spécifiques pour les tablettes */
  .global {
    padding: 1px;
  }

  .title {
    font-size: 1.3em;
  }

  .description {
    color: rgb(98, 98, 98);
    font-size: 0.8rem;
  }

  button {
    font-size: 14px;
  }
}

/* Pour les petits écrans comme les fold */
@media (max-width: 653px) {
  .title,
  .price {
    font-size: 0.8em;
  }

  .image {
    width: 50px;
    height: 50px;
  }

  .image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .addPanier {
    font-size: 9px;
    height: 31px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }
}
