<div class="global">
  <div class="container">
    <div class="card">
      <div class="image">
        <img [src]="wiziShop.imageUrl" [alt]="wiziShop.title" />
      </div>
      <div class="detailCard">
        <div class="detailTitleDescription">
          <h2 class="title" (click)="onViewDetail()">{{ wiziShop.title }}</h2>
          <p>{{ wiziShop.description }}</p>
        </div>
        <div class="detailPriceButton">
          <h3>
            {{ wiziShop.price | currency : "EUR" : "code" }}
          </h3>

          <button class="addPanier" (click)="onViewDetail()">
            Ajouter au panier
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
