.container {
  display: flex;
  justify-content: center;
  gap: 4vh;
}

.containerGlobal {
  display: table;
  width: 77%;
}

.containerCard {
  background-color: #ffffff;
}

.containerPrice {
  background-color: #ffffff;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 3fr;
  gap: 20px;
  align-items: center;
  justify-items: end;
}

.containerPriceTwo {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  align-items: center;
  justify-items: center;
}

.containerPanier {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.containerPanierTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
  border: 5px solid #ffffff;
}

.containerPanierThree {
  display: none;
}

.totalPrice {
  font-size: 20px;
  font-weight: 600;
  color: #2757b6;
  text-decoration: underline;
}

.delete {
  height: 4vh;
}

.card {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid rgb(211, 211, 211);
}

.image {
  width: 150px;
  height: 150px;
}

.image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.detailCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
}

.detailTitleDescription {
  flex: 0 0 60%;
  margin-right: 20px;
}

.panier {
  color: rgb(57, 57, 57);
}

.title {
  color: rgb(50, 50, 50);
}

.description {
  color: rgb(98, 98, 98);
}

.price {
  color: #2757b6;
}

.delete {
  height: 51px;
  padding-left: 7vh;
}

.detailPriceButton {
  display: flex;
  gap: 2vh;
}

.buttonX {
  padding-right: 2vh;
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.addPanier {
  margin-left: 1vh;
}

.buttonSelect {
  margin-top: 8px;
  width: 70px;
  height: 50px;
  padding-left: 20px;
}

button {
  background-color: #ffffff;
  font-weight: 600;
  color: rgb(46, 46, 46);
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
  background-color: none;
  color: #ff0000;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Pour les petits écrans comme les téléphones */
@media (max-width: 820px) {
  .container {
    display: flex;
    justify-content: center;
  }

  .containerGlobal {
    padding: 1vh;
    width: 90%;
  }

  .containerPriceTwo {
    gap: 10px;
  }

  .containerPanier {
    display: none;
  }

  .containerPanierThree {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
  }

  .containerPanierFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 2vh;
  }

  .image {
    width: 75px;
    height: 75px;
  }

  .image img {
    width: 75px; /* La largeur de l'image est de 100% de la div parent */
    height: 75px; /* La hauteur de l'image est de 100% de la div parent */
    object-fit: cover; /* L'image remplit entièrement son conteneur en conservant ses proportions */
  }

  .panier {
    font-size: 1em;
  }

  .totalPrice {
    font-size: 14px;
  }

  .title {
    font-size: 0.8em;
  }

  .description {
    display: none;
  }

  .item,
  .quantiter,
  .prix {
    font-size: 0.6em;
  }

  img {
    height: 20px;
  }

  .price {
    font-size: 1em;
  }

  .buttonX {
    padding-right: 0vh;
    font-size: 1em;
  }

  .containerPrice {
    display: none;
  }

  .buttonSelect {
    margin-top: 16px;
    height: 20px;
    padding-left: 0px;
    width: 31px;
    font-size: 12px;
  }

  .detailTitleDescription {
    flex: none;
  }

  .detailCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .detailPriceButton {
    display: flex;
    gap: 0vh;
    gap: 1vh;
  }
}

/* Pour les tablettes et écrans moyens */
@media (min-width: 821px) and (max-width: 1024px) {
  /* Styles spécifiques pour les tablettes */
  .container {
    display: flex;
    justify-content: center;
  }

  .containerGlobal {
    width: 68%;
  }

  .containerPanier {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .containerPanierTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    border: 5px solid #ffffff;
  }

  .detailPriceButton {
    gap: 1vh;
    padding-right: 1vh;
  }
  .panier {
    font-size: 1.7em;
  }

  .totalPrice {
    font-size: 18px;
  }

  .title {
    font-size: 1em;
  }

  .description {
    font-size: 0.8em;
  }

  .item,
  .quantiter,
  .prix {
    font-size: 0.9em;
  }

  img {
    height: 20px;
  }

  .price {
    font-size: 1em;
  }

  .buttonX {
    padding-right: 0vh;
    font-size: 1em;
  }

  .containerPrice {
    padding-right: 5px;
  }

  .buttonSelect {
    margin-top: 7px;
    height: 40px;
    padding-left: 8px;
    width: 40px;
  }
}
