.containerGlobal {
  padding: 1px 20vh; /* Ajoute un espace de 20 pixels à gauche et à droite de l'écran */
}

.containerCard {
  background-color: #ffffff;
}

.containerPrice {
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  display: grid; /* Utilisation de CSS Grid */
  grid-template-columns: 10fr 1fr 1fr; /* Répartition des colonnes */
}

.containerPanier {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalPrice {
  font-size: 20px;
  font-weight: 600;
  color: #2757b6;
  text-decoration: underline;
}

.delete {
  height: 4vh;
}

.card {
  display: flex; /* Utiliser Flexbox pour aligner les éléments */
  box-sizing: border-box;
  width: 100%; /* Largeur de la carte sur toute la ligne */
  border-top: 1px solid rgb(211, 211, 211);
}

.image {
  width: 150px;
  height: 150px;
}

.image img {
  width: 150px; /* La largeur de l'image est de 100% de la div parent */
  height: 150px; /* La hauteur de l'image est de 100% de la div parent */
  object-fit: cover; /* L'image remplit entièrement son conteneur en conservant ses proportions */
}

.detailCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1; /* Le reste de la largeur pour les détails */
  padding: 10px; /* Espacement intérieur */
}

.detailTitleDescription {
  flex: 0 0 60%; /* 60% de la largeur pour detailTitleDescription */
  margin-right: 20px; /* Ajoute un espacement à droite */
}

.panier {
  color: rgb(57, 57, 57);
}

.title {
  color: rgb(50, 50, 50);
}

.description {
  color: rgb(98, 98, 98);
}

.price {
  color: #2757b6;
}

.item {
  padding-left: 30vh;
}

.prix {
  padding-left: 30vh;
}

.delete {
  height: 51px;
  padding-left: 7vh;
}

.detailPriceButton {
  display: flex;
  gap: 2vh;
}

.buttonX {
  padding-right: 2vh;
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.addPanier {
  margin-left: 1vh; /* Ajoute un espace de 1% de la hauteur de la fenêtre à gauche du bouton */
}

.buttonSelect {
  margin-top: 8px;
  width: 70px;
  height: 50px;
  padding-left: 20px;
}

button {
  background-color: #ffffff;
  font-weight: 600;
  color: rgb(46, 46, 46); /* Couleur du texte */
  font-size: 16px; /* Taille de la police */
  border: none; /* Suppression du bord */
  border-radius: 4px; /* Arrondi des coins */
  cursor: pointer; /* Curseur au survol */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Transition */
}

button:hover {
  background-color: none; /* Changement de couleur au survol */
  color: #ff0000; /* Changement de couleur du texte */
  transform: translateY(-2px); /* Effet de déplacement vers le haut */
}

button:active {
  transform: translateY(0); /* Réinitialisation du déplacement lors du clic */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Réduction de l'ombre lors du clic */
}
