<div class="global">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="image">
            <img [src]="wiziShop.imageUrl" [alt]="wiziShop.title" />
          </div>
          <div class="detailCard">
            <h2 class="title">{{ wiziShop.title }}</h2>
            <h3 class="price">
              {{
                wiziShop.price | number : "0.0-2" | currency : "EUR" : "code"
              }}
            </h3>
            <p class="description">{{ wiziShop.description }}</p>
            <p class="date">
              Mis en ligne le {{ wiziShop.createDate | date : "dd/MM/yy" }}
            </p>
            <button (click)="onViewReturn()">Retour</button>
          </div>
        </div>
        <div class="containerTechnique">
          <h2 class="technique">CARACTERISTIQUES PRINCIPALES :</h2>
          <ul>
            <li class="spec">{{ wiziShop.spec }}</li>
            <li class="specTwo">{{ wiziShop.specTwo }}</li>
            <li class="specThree">{{ wiziShop.specThree }}</li>
            <li class="specFour">{{ wiziShop.specFour }}</li>
            <li class="specFive">{{ wiziShop.specFive }}</li>
          </ul>
        </div>
      </div>
      <div class="containerAjoutPanier">
        <button (click)="ajouterAuPanier()">Ajouter au panier</button>
      </div>
    </div>
  </div>
</div>
