.global {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row; /* Définit la direction des éléments enfants */
  box-sizing: border-box;
  width: 100%;
  /* box-shadow: lightgray 0px 0px 10px; */
  align-items: center;
  border-bottom: 8px solid #f1f1f1;
}
.container {
  background-color: #ffffff;
  display: table;
  width: 90%;
}

.containerTechnique {
  /* box-shadow: lightgray 0px 0px 10px; */
  padding: 1vh;
}

.containerAjoutPanier {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 7px;
}

img {
  max-width: 200px;
}

.image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.detailCard {
  padding-left: 3vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: rgb(50, 50, 50);
}

.price {
  color: #2757b6;
}

.technique {
  color: rgb(50, 50, 50);
  text-decoration: underline;
}

button {
  background-color: #4caf50; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  font-size: 16px; /* Taille de la police */
  border: none; /* Suppression du bord */
  border-radius: 4px; /* Arrondi des coins */
  cursor: pointer; /* Curseur au survol */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Transition */
}

button:hover {
  background-color: #45a049; /* Changement de couleur au survol */
  color: #f0f0f0; /* Changement de couleur du texte */
  transform: translateY(-2px); /* Effet de déplacement vers le haut */
}

button:active {
  transform: translateY(0); /* Réinitialisation du déplacement lors du clic */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Réduction de l'ombre lors du clic */
}
